
<div class="container p-4">
    <h2 class="fw-bold">Dashboard</h2>
    <p class="text-muted">25 Dec 2000</p>
    <h6 class="mt-5 mb-4 fw-bold text-left">Events</h6>
    <div class="d-flex align-items-center justify-content-center">
        <table class="table table-striped shadow-sm  " style="border-radius:10px;">
          <thead>
            <tr>
              <th scope="col">Sl.No</th>
              <th scope="col">Date</th>
              <th scope="col">Title</th>
              <th scope="col" class="text-center">Description</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>12-12-2000</td>
              <td>Birthday</td>
              <td colspan="2" class="text-center">Today celetebarion of birthday party.</td>
              <td ><button class="btn-sm btn-danger me-3">Delete</button> <button class="btn-sm btn-primary">Update</button></td>
            </tr>
            <tr>
                <th scope="row">1</th>
                <td>12-12-2000</td>
                <td>Birthday</td>
                <td colspan="2" class="text-center">Today celetebarion of birthday party.</td>
                <td ><button class="btn-sm btn-danger me-3">Delete</button> <button class="btn-sm btn-primary">Update</button></td>
              </tr>
              <tr>
                <th scope="row">1</th>
                <td>12-12-2000</td>
                <td>Birthday</td>
                <td colspan="2" class="text-center">Today celetebarion of birthday party.</td>
                <td ><button class="btn-sm btn-danger me-3">Delete</button> <button class="btn-sm btn-primary">Update</button></td>
              </tr>
              <tr>
                <th scope="row">1</th>
                <td>12-12-2000</td>
                <td>Birthday</td>
                <td colspan="2" class="text-center">Today celetebarion of birthday party.</td>
                <td ><button class="btn-sm btn-danger me-3">Delete</button> <button class="btn-sm btn-primary">Update</button></td>
              </tr>
              <tr>
                <th scope="row">1</th>
                <td>12-12-2000</td>
                <td>Birthday</td>
                <td colspan="2" class="text-center">Today celetebarion of birthday party.</td>
                <td ><button class="btn-sm btn-danger me-3">Delete</button> <button class="btn-sm btn-primary">Update</button></td>
              </tr>
              <tr>
                <th scope="row">1</th>
                <td>12-12-2000</td>
                <td>Birthday</td>
                <td colspan="2" class="text-center">Today celetebarion of birthday party.</td>
                <td ><button class="btn-sm btn-danger me-3">Delete</button> <button class="btn-sm btn-primary">Update</button></td>
              </tr>
            <tr>
              <th scope="row">1</th>
              <td>12-12-2000</td>
              <td>Birthday</td>
              <td colspan="2" class="text-center">Today celetebarion of birthday party.</td>
              <td ><button class="btn-sm btn-danger me-3">Delete</button> <button class="btn-sm btn-primary">Update</button></td>
            </tr>
            <tr>
              <th scope="row">1</th>
              <td>12-12-2000</td>
              <td>Birthday</td>
              <td colspan="2" class="text-center">Today celetebarion of birthday party.</td>
              <td ><button class="btn-sm btn-danger me-3">Delete</button> <button class="btn-sm btn-primary">Update</button></td>
            </tr>
            <tr>
              <th scope="row">1</th>
              <td>12-12-2000</td>
              <td>Birthday</td>
              <td colspan="2" class="text-center">Today celetebarion of birthday party.</td>
              <td ><button class="btn-sm btn-danger me-3">Delete</button> <button class="btn-sm btn-primary">Update</button></td>
            </tr>
           
          </tbody>
        </table>
       
      </div>
</div>
