<div class="container p-4" >
    <h2 class="fw-bold">Dashboard</h2>
    <p class="text-muted">25 Dec 2000</p>
    <div class="container ">
      <div class="row justify-content-center align-items-center bg p-5  shadow " style="border-radius:10px; ">
        <div class="col-md-8 ">
          <h2 class="fw-bold">25 Dec 2021</h2>
          <p class="h5 fw-bold">Birthday</p>
          <p class="h6 fw-bold">Its birthday of the best hardworker and tech entusiaist.</p>
        </div>
        <div class="col-md-4">
          <img src="assets/celebration.gif" alt="" class="img-fluid" style="border-radius:10px; position: relative;">
        </div>
        
      </div>
      <div class="d-flex align-items-center justify-content-between">
        <h6 class="mt-5 mb-4 fw-bold text-left">Events</h6>
        <!-- <button type="button" style="border-radius: 30px;" class="btn btn-outline-secondary float-end mt-5 mb-4 ">
          <i class="fas fa-plus "></i> Add
        </button> -->
      </div>
      <div class="d-flex align-items-center justify-content-center">
        <table class="table table-borderless shadow-sm  " style="border-radius:10px;">
          <thead>
            <tr>
              <th scope="col">Sl.No</th>
              <th scope="col">Date</th>
              <th scope="col">Title</th>
              <th scope="col" class="text-center">Description</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>12-12-2000</td>
              <td>Birthday</td>
              <td colspan="2" class="text-center">Today celetebarion of birthday party.</td>
            </tr>
            <tr>
              <th scope="row">1</th>
              <td>12-12-2000</td>
              <td>Birthday</td>
              <td colspan="2" class="text-center">Today celetebarion of birthday party.</td>
            </tr>
            <tr>
              <th scope="row">1</th>
              <td>12-12-2000</td>
              <td>Birthday</td>
              <td colspan="2" class="text-center">Today celetebarion of birthday party.</td>
            </tr>
            <tr>
              <th scope="row">1</th>
              <td>12-12-2000</td>
              <td>Birthday</td>
              <td colspan="2" class="text-center">Today celetebarion of birthday party.</td>
            </tr>
           
          </tbody>
        </table>
       
      </div>
      <a href="" class="text-decoration-none ">View more <i class="fas fa-arrow-right"></i></a>
      
    </div>
  </div>